body {
  font-family: "Montserrat";
  text-align: center;
  /* margin: 0; */
}

#name {
  font-family: "Sacramento";
  font-size: 4.5rem;
  color: #48E0E4;
}

#designation {
  color: #d39d9d;
  font-weight: lighter;
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather";
  font-weight: bolder;
}

p {
  color: #373640;
  font-weight: lighter;
  margin: 0;
}

/* Title */
#title {
  padding: 10px 5px 100px;
  margin: 10px 5px;
  border-radius: 20px;
  background-color: #EBC6FF;
}

/* Containers */
.container-fluid {
  width: 100%;
  border-radius: 20px;
}

/* Navigation bar */
.navbar {
  padding: 0 0 1.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

a {
  text-decoration: none;
}

.code-skill-2 {
  font-size: 1.1rem;
}

#skills-sec .code-skill-2 {
  color: #E9E2D0;
}

/* Contact Botton */
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn:hover {
  background: #3cfcfc;
  background-image: -webkit-linear-gradient(top, #3cfcfc, #34ced9);
  background-image: -moz-linear-gradient(top, #3cfcfc, #34ced9);
  background-image: -ms-linear-gradient(top, #3cfcfc, #34ced9);
  background-image: -o-linear-gradient(top, #3cfcfc, #34ced9);
  background-image: linear-gradient(to bottom, #3cfcfc, #34ced9);
  text-decoration: none;
}

/* Skills Section */
#skills-sec {
  border-radius: 20px;
  padding: 10px 5px 100px;
  background-image: url(https://images.unsplash.com/photo-1445905595283-21f8ae8a33d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8OXx8fGVufDB8fHx8&w=1000&q=80);
  background-size: contain;
  margin: 10px 5px;
}

.skill-p {
  color: white;
  font-family: monospace;
  text-align: center;
  line-height: 1.5;
}

/* Contact */
#contact {
  border-radius: 20px;
  padding: 50px 5px;
  background-color: #87A8A4;
  margin: 10px 5px;
}

.cosmology-link {
  font-family: sans-serif;
  font-weight: bold;
  color: #00AF91;
}

.cosmology-link:hover {
  color: #C70039;
  opacity: 0.7;
}

/* Footer */
#footer {
  border-radius: 20px;
  padding: 50px 5px;
  background-color: #F2EEE0;
  margin: 5px 5px;
}

/* Social-site section */
.fa {
  /* padding: 10px; */
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  color: black;
  opacity: 0.7;
}

.fa-instagram {
  color: #fb3958;
}

.fa-github {
  color: black;
}

.fa-pinterest {
  color: #e60023;
}

.fa-twitter {
  color: #1DA1F2;
}

.fa-reddit {
  color: #FF4301;
}

.media-image {
  width: 20%;
}

/* All Image Property */
.top-computer {
  position: absolute;
  width: 10%;
  right: 7%;
}

.mountain {
  padding-bottom: 2%;
}

@media (max-width: 1028px) {
  body {
    text-align: center;
    font-size: 1.2rem;
  }

  .code-skill-2 {
    font-size: 2rem;
  }

  .skill-p {
    font-size: 1rem;
  }

  .media-image {
    width: 40%;
  }

  .h2 {
    font-size: 2rem;
  }

  #contact .code-skill-2 {
    font-size: 1.2rem;
  }

  .top-computer {
    position: static;
    width: 25%;
  }
}
